# Fichiers et dossiers à ignorer lors du build Docker

# Dossier de build de Next.js
.next/

# Dépendances locales
node_modules/

# Fichiers de log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Fichiers Docker
Dockerfile
.dockerignore

# Git
.git
.gitignore

# Variables d'environnement locales
.env.local