
@import '../Layout.module.scss';


.statsGrid {
  
  display: grid;
  grid-template-columns: 1fr; 
  gap: 2rem;
  
  
  
  @media (min-width: 768px) {
    grid-template-columns: repeat(3, 1fr); 
    
  }
}

.statItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 1rem; 
}

.statIcon {
  margin-bottom: 0.5rem;
  color: $primary-color; 
  
  svg {
    width: 2.5rem; 
    height: 2.5rem;
  }
}

.statValue {
  font-size: 2.5rem; 
  font-weight: 700; 
  line-height: 1.1;
  color: $text-color; 

  @media (min-width: 768px) {
    font-size: 3rem; 
  }
}

.statLabel {
  font-size: 1rem; 
  font-weight: 500; 
  color: #4b5563; 
  margin: 0;
}