/* app/globals.css */
/* Ajoutez ici des styles de réinitialisation si nécessaire, mais Tailwind est parti */
/* Ou les styles globaux que SCSS ne gère pas (ex: variables CSS globales) */

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}